* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 400px;

  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.contries-name {
  display: flex;
  align-items: center;
}
li {
  margin-bottom: 5px;
}

img {
  margin-right: 10px;
}

.name-countries {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-size: 17px;
}
